$color-main: #0fe4d2;
$black: #202020;


body {
  background-color: #343a40;
}

.title {
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
  color: black;
}

.info {
  color: #d7cfcf;
  background-color: #303235;
}


.carousel-inner {
  height: 0;
  padding-bottom: 70%;
}

.carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#container {
  height: 65%;
}

.carousel-inner {
  height: 0;
  padding-bottom: 50%;
}

.carousel-item {
  position: absolute !important;
  /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #ffffff;
  /* Color del texto */
  padding: 10px 0;
  /* Espaciado interior */
  text-align: center;
  /* Alineación del texto */
  margin-top: 30px;
}

.contenedor-flotante {
  border: 1px solid #8f39a7;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.subtitulo {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.parrafo {
  font-size: 14px;
  line-height: 1.5;
}

#music {
  margin-top: 10px;
}

audio {
  width: 200px;
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }
}

#animation {
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

  @keyframes textColor {
    0% {
      color: #7e0fff;
    }

    50% {
      color: #0fffc1;
    }

    100% {
      color: #7e0fff;
    }
  }
}




// ANIMATION

.has-animation {
  position: relative;

  p,
  img,
  .card,.info {
    opacity: 0;
  }

  &.animate-in {

    p,
    img,
    .card, .info {
      animation: textHidden 0.1s 1.1s forwards;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
    }

    &:before {
      background-color: $color-main;
    }

    &:after {
      background-color: $black;
      animation-delay: .5s;
    }
  }

  &.animation-ltr.animate-in {
    &:before {
      animation: revealLTR 1.8s ease;
    }

    &:after {
      animation: revealLTR 1s .6s ease;
    }
  }

  &.animation-rtl.animate-in {
    &:before {
      animation: revealRTL 1.8s ease;
    }

    &:after {
      animation: revealRTL 1s .6s ease;
    }
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }

  65% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }

  65% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}




@keyframes textHidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

